
.header {
  width: 100%;
  height: var(--header-size);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,.7);
}

.flex {
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 2rem;
}
