/* Carousel characters */
.carousel {
  position: relative;
  z-index: 15;
  padding: 4rem 0 3rem;
  background-color: var(--color-blue-op);
  overflow: hidden;

  & ul {
    transition: all 1s ease-in-out;

    &>li {
      text-align: center;
    }
    &>li:not(:last-of-type) {
      margin-right: 1rem;
    }
    &>li img {
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }
  }
}

.title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

.name {
  font-size: 1.4rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  & button {
    margin: 0 1rem;
  }

  & button[disabled] {
    opacity: 0.25;
  }
}
